@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-background: #FCEFE8;
  --accent-orange: #FFBE41;
  --accent-brown: #E77D43;
  --color-footer: #090909;
  --border-color: linear-gradient(to right, #FFBE41 0%, #E77D43 100%);
  --button-body: #FCEFE8;
}

html {
  color-scheme: light !important;
  ;
  color: black;
}

@layer components {
  .main-padding {
    @apply 2xl:px-72 lg:px-32 px-3;
  }
}

.button {
  background: var(--border-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-body {
  background-color: var(--button-body);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}